[Unit]
Description=VixEditor API Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ubuntu/vixeditor/
Environment="PATH=/home/ubuntu/vixeditor/venv/bin"
ExecStart=/home/ubuntu/vixeditor/venv/bin/python main.py
Restart=always
RestartSec=10

# Logging
StandardOutput=append:/home/ubuntu/vixeditor/logs/vixeditor.log
StandardError=append:/home/ubuntu/vixeditor/logs/vixeditor-error.log

[Install]
WantedBy=multi-user.target
